/* Colors: #343A40 #40343A #3A4034 */

.trustedpurple {
	background-color:#40343A;
	color:#ffffff;
}

.share-secret:hover {
	background-color:#888084;
	margin:-8px 0px -8px 0px;
	padding:8px 0px 8px 0px;
}

.reveal-secret:hover {
	background-color:#848880;
	margin:-8px 0px -8px 0px;
	padding:8px 0px 8px 0px;
}

.alert {
  background-color: #fff8e1;
  border: 1px solid #ffe082;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 0px;
  border-radius: 3px;
  color: #333;
}

.btn-primary {
	background-color: #8064A2;
	border: #8064A2;
}

.btn-primary:hover {
	background-color: #9f64a2;
	border: #9f64a2;
}
