{% extends "layout.html" %}

{% block head %}
{% endblock head %}

{% block body %}

<br>

<form name="form" action="/encrypt" method="POST">
    <div class="form-group">
        <label for="EncryptMeLabel">Enter Secret</label>
        <textarea class="form-control" id="EncryptMe" rows="3" name="EncryptMe"></textarea>
    </div>
      <div class="centered">
        <div class="row justify-content-center">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="Delete" id="deletecheck" value='Delete' checked>
                  <label class="form-check-label" for="deletecheck">
                    Self-Destruct
                  </label>
              </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Time" id="1hrcheck" value='1h' checked>
                <label class="form-check-label" for="1hcheck">
                  1-Hour
                </label>
            </div>
        
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Time" id="1dcheck" value='1d'>
                <label class="form-check-label" for="1dcheck">
                  1-Day
                </label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="Time" id="3dcheck" value='3d'>
              <label class="form-check-label" for="3dcheck">
                3-Day
              </label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Time" id="7dcheck" value='7d'>
                <label class="form-check-label" for="7dcheck">
                  7-Day
                </label>
            </div>
        </div>
      </div>
      <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock body %}