{% extends "layout.html" %}



{% block body %}

<h3 style="margin-top:20px;">Reveal a Secret</h3>

{% if key == None %}
{% if label == None %}

<br>
<form name=form action='/decrypt' method="POST">
  <div class="form-group row">
    <label for="label" class="col-sm-1 col-form-label">Lock:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="label" name='label'>
    </div>
  </div>
  <div class="form-group row">
    <label for="text" class="col-sm-1 col-form-label">Key:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="key" name='key'>
    </div>
  </div>
  <button action='submit' type="submit" class="btn btn-primary btn-lg btn-block">Reveal my Secret</button>
</form>


{% else %}

<br>
<form name="form" action=''>
  <div class="form-group row">
    <label for="label" class="col-sm-1 col-form-label">Lock:</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control" id="label" value="{{ label }}" name = 'label'>
    </div>
  </div>
  <div class="form-group row">
    <label for="text" class="col-sm-1 col-form-label">Key:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="key" name='key'>
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-lg btn-block">Reveal my Secret</button>
</form>


{% endif %}

{% else %}

<br>
<div class="input-group mb-3">
    <label for="myInput" style="padding: 10px 15px 0px 0px;">Secret:</label>
    <input type="text" class="form-control" placeholder="Link to Secret" aria-label="Link to secret" aria-describedby="basic-addon2" value="{{ msg }}" id="myInput" readonly>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" onclick="myFunction()">Copy</button>
    </div>
  </div>

  

<script>
    function myFunction() {
      var copyText = document.getElementById("myInput");
      copyText.select();
      copyText.setSelectionRange(0, 99999)
      document.execCommand("copy");
    }
</script>

{% endif %}

{% endblock body %}