{% extends "layout.html" %}


{% block body %}


<br>

<h3>Share Your Encrypted Secret</h3>

<div class="alert"><strong style="font-size:16px;">The {{ selfdestruct }} link to your secret is good for {{ deletetime }}.</strong></div>

    <div class="input-group mb-3" style="margin-top:15px;">
    <label for="url" style="padding: 10px 15px 0px 0px;">Your Secret Link:</label>
    <input type="text" class="form-control" placeholder="Link to Secret" aria-label="Link to secret" aria-describedby="basic-addon2" value="{{ url }}" id="url" name = url readonly>
    <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" onclick="url()">Copy</button>
    </div>
    </div>

<h4 style="margin-top:30px;">Decrypt as a Lock & Key</h4>
<p>Send someone your <strong>Lock</strong>, and you can send them the <strong>Key</strong> to <a href="/decrypt">reveal your secret</a> later.</p>
    <div class="input-group mb-3">
    <label for="short" style="padding: 10px 30px 0px 0px;">Link to your Lock:</label>
    <input type="text" class="form-control" placeholder="Link to Secret" aria-label="Link to secret" aria-describedby="basic-addon2" value="{{ short }}" id="short" name = short readonly>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" onclick="short()">Copy</button>
    </div>
    </div>

    <div class="input-group mb-3">
    <label for="label" style="padding: 10px 62px 0px 0px;">Lock:</label>
    <input type="text" class="form-control" placeholder="Link to Secret" aria-label="Link to secret" aria-describedby="basic-addon2" value="{{ label }}" id="label" name= label readonly>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" onclick="label()">Copy</button>
    </div>
    </div>


    <div class="input-group mb-3">
    <label for="key" style="padding: 10px 73px 0px 0px;">Key:</label>
    <input type="text" class="form-control" placeholder="Link to Secret" aria-label="Link to secret" aria-describedby="basic-addon2" value="{{ key }}" id="key" name = key readonly>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" onclick="key()">Copy</button>
    </div>
    </div>

<script>
    function url() {
      var copyText = document.getElementById("url");
      copyText.select();
      copyText.setSelectionRange(0, 99999)
      document.execCommand("copy");
    }

    function short() {
      var copyText = document.getElementById("short");
      copyText.select();
      copyText.setSelectionRange(0, 99999)
      document.execCommand("copy");
    }

    function label() {
      var copyText = document.getElementById("label");
      copyText.select();
      copyText.setSelectionRange(0, 99999)
      document.execCommand("copy");
    }

    function key() {
      var copyText = document.getElementById("key");
      copyText.select();
      copyText.setSelectionRange(0, 99999)
      document.execCommand("copy");
    }
</script>

{% endblock body %}