{% extends "layout.html" %}

{% block head %}
{% endblock head %}

{% block body %}

<br>

<form name="form" action="/encrypt" method="POST">
    <div class="form-group">
        <label for="EncryptMeLabel" style="font-size:24px;" class="centered">Enter Something Secret</label>
        <textarea class="form-control" id="EncryptMe" rows="3" name="EncryptMe" placeholder="Enter a password, a secret, or something else. You'll get some secure links to share." required></textarea>
    </div>
      <div class="centered">
        <div class="row justify-content-center">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="Delete" id="deletecheck" value='Delete' checked>
                  <label class="form-check-label" for="deletecheck">
                    Make my links single-use
                  </label>
              </div>
        </div>
		<div style="text-align:center;margin-top:10px;">Your encrypted secret will be deleted after:</div>
        <div class="row justify-content-center">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Time" id="1hrcheck" value='1h' checked>
                <label class="form-check-label" for="1hcheck">
                  1 Hour
                </label>
            </div>
        
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Time" id="1dcheck" value='1d'>
                <label class="form-check-label" for="1dcheck">
                  1 Day
                </label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="Time" id="3dcheck" value='3d'>
              <label class="form-check-label" for="3dcheck">
                3 Days
              </label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Time" id="7dcheck" value='7d'>
                <label class="form-check-label" for="7dcheck">
                  7 Days
                </label>
            </div>
        </div>
      </div>
      <br>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Encrypt my Secret</button>
</form>
</div>
{% endblock body %}